{% set el = 'a-category-count' %}

<a class="{{ el }}" href="{{ url|render|striptags|trim|raw }}">
	<div class="{{ el ~ '__inner' }}">
    {% if title|render %}
      <div class="{{ el ~ '__title' }}">{{ title }}</div>
    {% endif %}
    {% if count|render %}
      <div class="{{ el ~ '__count' }}">{{ count }}</div>
    {% endif %}
	</div>
</a>

