{% set el = 'a-category-count' %}

<div class="{{ el }}">
	<div class="{{ el ~ '__inner' }}">
    {% if title|render %}
      <div class="{{ el ~ '__title' }}">{{ title }}</div>
    {% endif %}
    {% if count|render %}
      <div class="{{ el ~ '__count' }}">{{ count }}</div>
    {% endif %}
	</div>
</div>

