{% set el = 'c-season-list' %}

<a class="{{ el }}" href="{{ url }}">
	<div class="{{ el ~ '__inner' }}">
		{% if media|render %}
			<div class="{{ el ~ '__media' }}">
				{{ media }}
			</div>
		{% endif %}
		<div class="{{ el ~ '__content' }}">
			{% if title|render %}
				<div class="{{ el ~ '__title' }}">{{ title }}</div>
			{% endif %}
			{% if text|render %}
				<div class="{{ el ~ '__text' }}">{{ text }}</div>
			{% endif %}
		</div>
	</div>
</a>

