{% set el = 'c-news-featured' %}

<a class="{{ el }}" href="{{ url }}" title="{{ url_title|raw }}">
	<div class="{{ el ~ '__inner' }}">
		{% if media|render %}
			<div class="{{ el ~ '__media' }}">
				{{ media }}
			</div>
		{% endif %}
		<div class="{{ el ~ '__content' }}">
			{% if gutter|render %}
				<div class="{{ el ~ '__gutter' }}">{{ gutter }}</div>
			{% endif %}
			{% if title|render %}
				<div class="{{ el ~ '__title' }}">{{ title }}</div>
			{% endif %}
			{% if description|render %}
				<div class="{{ el ~ '__description' }}">{{ description }}</div>
			{% endif %}
		</div>
	</div>
</a>

