{% set el = 'c-episode-full' %}

<div class="{{ el }}">
	<div class="{{ el ~ '__inner' }}">
		{% if media|render %}
			<div class="{{ el ~ '__media' }}">
				{{ media }}
			</div>
		{% endif %}
    <div class="{{ el ~ '__header' }}">
      {% for info in infos %}
        {% if info['value']|render %}
        <div class="{{ el ~ '__info' }}">
          <span class="{{ el ~ '__info__label' }}">{{ info['label'] }}:</span>
          <span class="{{ el ~ '__info__value' }}">{{ info['value']|render|striptags('<a>') }}</span>
        </div>
        {% endif %}
      {% endfor %}
    </div>

		{% if affiliates %}
		<div class="{{ el ~ '__affiliates' }}">
			<div class="{{ el ~ '__affiliates__links' }}">
				{{ affiliates }}
			</div>
		</div>
		{% endif %}

		<ul class="nav nav-tabs mb-3" id="episode-tab" role="tablist">
			{% if promo|render %}
			<li class="nav-item">
				<a class="nav-link active" id="episode-promo-tab" data-toggle="pill" href="#episode-promo" role="tab" aria-controls="episode-promo" aria-selected="true"><i class="fas fa-camera-retro"></i> Images promo</a>
			</li>
			{% endif %}
			{% if body|render %}
			<li class="nav-item">
				<a class="nav-link" id="episode-summary-tab" data-toggle="pill" href="#episode-summary" role="tab" aria-controls="episode-summary" aria-selected="false"><i class="fas fa-book"></i> Résumé</a>
			</li>
			{% endif %}
			{% if trailers|render %}
			<li class="nav-item">
				<a class="nav-link" id="episode-trailers-tab" data-toggle="pill" href="#episode-trailers" role="tab" aria-controls="episode-trailers" aria-selected="false"><i class="fas fa-film"></i> Trailers</a>
			</li>
			{% endif %}
			{% if gallery|render %}
			<li class="nav-item">
				<a class="nav-link" id="episode-gallery-tab" data-toggle="pill" href="#episode-gallery" role="tab" aria-controls="episode-gallery" aria-selected="false"><i class="far fa-images"></i> Gallerie</a>
			</li>
			{% endif %}
		</ul>
		<div class="tab-content" id="episode-tabContent">
			{% if promo|render %}
			<div class="tab-pane fade show active" id="episode-promo" role="tabpanel" aria-labelledby="episode-promo-tab">{{ promo }}</div>
			{% endif %}
			{% if body|render %}
			<div class="tab-pane fade" id="episode-summary" role="tabpanel" aria-labelledby="episode-summary-tab">{{ body }}</div>
			{% endif %}
			{% if trailers|render %}
			<div class="tab-pane fade" id="episode-trailers" role="tabpanel" aria-labelledby="episode-trailers-tab">{{ trailers }}</div>
			{% endif %}
			{% if gallery|render %}
			<div class="tab-pane fade" id="episode-gallery" role="tabpanel" aria-labelledby="episode-gallery-tab">{{ gallery }}</div>
			{% endif %}
		</div>

		{% if related_content|render %}
		<div class="{{ el ~ '__related-content' }}">
			{{ related_content }}
		</div>
		{% endif %}
	</div>
</div>

